@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Merienda&family=Righteous&display=swap");

body {
  background-image: url("./assets/wallpaper.jpg");
  /* background-repeat: no-repeat; */
  background-position: 0px 0px;
  background-repeat: repeat-y;
  animation: animatedBackground 5s linear infinite alternate;

  background-size: cover;
  color: black;
  max-width: 100%;
  margin: auto;
  display: block;
  text-align: center;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 100vw;
  }
}

#animate-area {
  /* width: 200px;
  height: 200px;
  background-image: url(http://placekitten.com/400/200); */
}

h2.game-over {
  margin-top: 4vw;
  font-size: 5vw;
}

h1,
h2,
h3 {
  font-family: "Merienda", cursive;
}

.title span {
  margin: -1.5vw;
  font-family: "Merienda", cursive;
  height: 0.3vw;
}

.game {
  margin-top: 2vw;
}
#players {
  width: 100%;
  display: block;
}
div#players > div {
  width: 20%;
  margin: auto;
  display: inline-block;
}
#players h3 {
  margin-top: -2vw;
  margin-bottom: 0vw;
}

.player_wrapper {
  display: flex;
  margin-top: 3vw;
  margin-left: 34vw;
  width: 44%;
}

.board_info {
  margin: auto;
  width: 12%;
  display: flex;
}

select {
  margin-left: 1vw;
  width: 3vw;
  height: 1vw;
  margin-top: 1.7vw;
}

div#player1 {
  margin-right: 1vw;
}

table {
  width: 30vw;
  margin: auto;
  display: inline-block;
  border-radius: 20px;
}

td img:hover {
  transform: scale(1.54);
}

td {
  cursor: pointer;
  width: 7vw;
  height: 7vw;
  border-radius: 10px;
}

.title h1 {
  font-family: "Righteous", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  font-size: 3vw;
  text-align: center;
}

#inputs {
  display: table;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 4.3vw;
}

td img {
  /* display: inline-block; */
  /* width: 200px;
  height: 260px; */
  /*   border: 1px solid #CCC; */
  /* margin: 40pדx 0; */
  perspective: 20vw;
}

.card {
  position: relative;
  /* width: 100%;
  height: 100%; */
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-120%) rotateY(-180deg);
}

.front_image {
  /* transform: rotateY(180deg); */

  /* background: crimson; */
}

.back_image {
  /* background: slateblue; */
  /* transform: rotateY(180deg); */
}

/* BUTTONS */
button {
  margin: 1vw;
  font-family: inherit;
}

.slide {
  font-size: 1.5vw;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 13px;
  transition: 0.2s;
  position: absolute;
  right: 10px;
  top: 21px;
  transition: transform 1;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(0.85vw);
}

.slide::after {
  content: "";
  background-color: #66f2d5;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0.3vw;
  left: 0.3vw;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

/* INPUTS */
/*
Basic input element using psuedo classes
*/

html {
  font-family: "Lora", sans-serif;
  width: 100%;
}

form {
  margin-left: 3vw;
  margin-top: 2vw;
}

input,
span,
label,
textarea {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 2vw;
}

textarea:focus,
input:focus {
  outline: 0;
}

/* Question */

input.question,
textarea.question {
  font-size: 1.1vw;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 80%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  /* Hack to make "rows" attribute apply in Firefox. */
}

/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 2vw;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 2vw;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -5vw;
  font-size: 22px;
  color: #333;
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -150px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label,
textarea.question:valid + label {
  border-color: green;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 2vw;
  top: -5vw;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 0.2s ease, background 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  opacity: 0;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #eee;
}

input[type="submit"]:active {
  background: #999;
}

input.question:valid ~ input[type="submit"],
textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 1s forwards;
  animation: appear 1s forwards;
}

input.question:invalid ~ input[type="submit"],
textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
